In [1]:
#import necessary libraries
import pandas as pd
from tqdm import tqdm

In [2]:
#Loading downloaded .csv files into Pandas DataFrame
df_2010 = pd.read_csv('2010_deprivation_data.csv')
df_2015 = pd.read_csv('2015_deprivation_data.csv')
df_2019 = pd.read_csv('2019_deprivation_data.csv')

In [8]:
#Reorganize column orders for all 3 DataFrames to ensure consistency

df_2010 = df_2010[['LSOA CODE', 'IMD SCORE', 'INCOME SCORE', 'IDACI score', 'IDAOPI score', 
                    'EMPLOYMENT SCORE', 'EDUCATION SKILLS AND TRAINING SCORE', 
                    'Children/Young People Sub-domain Score', 'Skills Sub-domain Score',
                    'HEALTH DEPRIVATION AND DISABILITY SCORE', 'CRIME AND DISORDER SCORE', 
                    'BARRIERS TO HOUSING AND SERVICES SCORE',
                    'Geographical Barriers Sub-domain Score','Wider Barriers Sub-domain Score', 
                    'LIVING ENVIRONMENT SCORE', 'Indoors Sub-domain Score', 
                    'Outdoors Sub-domain Score']]
                    
df_2015 = df_2015[['LSOA code (2011)', 'Index of Multiple Deprivation (IMD) Score', 
                    'Income Score (rate)', 
                    'Income Deprivation Affecting Children Index (IDACI) Score (rate)',
                    'Income Deprivation Affecting Older People (IDAOPI) Score (rate)', 
                    'Employment Score (rate)', 'Education, Skills and Training Score', 
                    'Children and Young People Sub-domain Score', 'Adult Skills Sub-domain Score', 
                    'Health Deprivation and Disability Score', 'Crime Score', 
                    'Barriers to Housing and Services Score', 
                    'Geographical Barriers Sub-domain Score', 
                    'Wider Barriers Sub-domain Score', 'Living Environment Score',                
                    'Indoors Sub-domain Score', 'Outdoors Sub-domain Score', ]]

df_2019 = df_2019[['LSOA code (2011)', 'Index of Multiple Deprivation (IMD) Score', 
                    'Income Score (rate)', 
                    'Income Deprivation Affecting Children Index (IDACI) Score (rate)',
                    'Income Deprivation Affecting Older People (IDAOPI) Score (rate)', 
                    'Employment Score (rate)', 'Education, Skills and Training Score', 
                    'Children and Young People Sub-domain Score', 'Adult Skills Sub-domain Score', 
                    'Health Deprivation and Disability Score', 'Crime Score', 
                    'Barriers to Housing and Services Score', 
                    'Geographical Barriers Sub-domain Score', 'Wider Barriers Sub-domain Score', 
                    'Living Environment Score', 'Indoors Sub-domain Score', 
                    'Outdoors Sub-domain Score', ]]

In [9]:
df_2010.rename(columns={'LSOA CODE':'LSOA code', 'IMD SCORE':'IMD Score', 'INCOME SCORE':'Income Score',
                        'IDACI score':'IDACI Score', 'IDAOPI score':'IDAOPI Score', 
                        'EMPLOYMENT SCORE':'Employment Score', 
                        'EDUCATION SKILLS AND TRAINING SCORE': 'EST Score', 
                        'Children/Young People Sub-domain Score':'CYP Score',
                        'Skills Sub-domain Score':'AS Score', 
                        'HEALTH DEPRIVATION AND DISABILITY SCORE':'HDD Score',
                        'CRIME AND DISORDER SCORE':'Crime Score', 
                        'BARRIERS TO HOUSING AND SERVICES SCORE':'BHS Score',
                        'Geographical Barriers Sub-domain Score':'GB Score', 
                        'Wider Barriers Sub-domain Score':'WB Score',
                        'LIVING ENVIRONMENT SCORE':'LE Score', 'Indoors Sub-domain Score':'Indoors Score', 
                        'Outdoors Sub-domain Score':'Outdoors Score'}, inplace=True)

df_2015.rename(columns={'LSOA code (2011)':'LSOA code', 'Index of Multiple Deprivation (IMD) Score':'IMD Score',
                        'Income Score (rate)':'Income Score', 
                        'Income Deprivation Affecting Children Index (IDACI) Score (rate)':'IDACI Score',
                        'Income Deprivation Affecting Older People (IDAOPI) Score (rate)':'IDAOPI Score',
                        'Employment Score (rate)':'Employment Score', 
                        'Education, Skills and Training Score':'EST Score',
                        'Children and Young People Sub-domain Score':'CYP Score', 
                        'Adult Skills Sub-domain Score':'AS Score',
                        'Health Deprivation and Disability Score':'HDD Score', 
                        'Barriers to Housing and Services Score':'BHS Score',
                        'Geographical Barriers Sub-domain Score':'GB Score', 
                        'Wider Barriers Sub-domain Score':'WB Score',
                        'Living Environment Score':'LE Score', 'Indoors Sub-domain Score':'Indoors Score', 
                        'Outdoors Sub-domain Score':'Outdoors Score'}, inplace=True)

df_2019.rename(columns={'LSOA code (2011)':'LSOA code', 'Index of Multiple Deprivation (IMD) Score':'IMD Score',
                        'Income Score (rate)':'Income Score', 
                        'Income Deprivation Affecting Children Index (IDACI) Score (rate)':'IDACI Score',
                        'Income Deprivation Affecting Older People (IDAOPI) Score (rate)':'IDAOPI Score',
                        'Employment Score (rate)':'Employment Score', 
                        'Education, Skills and Training Score':'EST Score',
                        'Children and Young People Sub-domain Score':'CYP Score', 
                        'Adult Skills Sub-domain Score':'AS Score',
                        'Health Deprivation and Disability Score':'HDD Score', 
                        'Barriers to Housing and Services Score':'BHS Score',
                        'Geographical Barriers Sub-domain Score':'GB Score', 
                        'Wider Barriers Sub-domain Score':'WB Score',
                        'Living Environment Score':'LE Score', 'Indoors Sub-domain Score':'Indoors Score', 
                        'Outdoors Sub-domain Score':'Outdoors Score'}, inplace=True)

C:\Users\dines\AppData\Local\Temp\ipykernel_45708\1798841698.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015.rename(columns={'LSOA code (2011)':'LSOA code', 'Index of Multiple Deprivation (IMD) Score':'IMD Score',

In [10]:
#Create lists of years and months for iteration purposes
year_list_2010 = ['2011', '2012', '2013', '2014']
year_list_2015 = ['2015', '2016', '2017', '2018']
year_list_2019 = ['2019','2020', '2021']
year_list_2022 = ['2022']
month_list = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
month_list_2022 = ['01', '02', '03', '04', '05', '06', '07', '08', '09']

In [12]:
#Extend all data from 2011-2014
df_2010_list = []

for year in tqdm(year_list_2010, desc='Loop 1', colour='Green'):
    for month in month_list:
        df_2010['Month'] = year + '-' + month
        df_2010_list.append(df_2010)
        df_2010 = df_2010[['LSOA code', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                            'Employment Score', 'EST Score',
                            'CYP Score', 'AS Score', 'HDD Score', 'Crime Score', 'BHS Score', 
                            'GB Score', 'WB Score', 'LE Score', 'Indoors Score', 'Outdoors Score']]

df_2010 = pd.DataFrame()
df_2010 = pd.concat(df_2010_list)
df_2010 = df_2010[['LSOA code', 'Month', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                    'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                    'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 'Indoors Score', 
                    'Outdoors Score']]

Loop 1: 100%|██████████| 4/4 [00:00<00:00, 30.92it/s]

In [14]:
#Extend all data from 2015-2018
df_2015_list = []

for year in tqdm(year_list_2015, desc='Loop 1', colour='Green'):
    for month in month_list:
        df_2015['Month'] = year + '-' + month
        df_2015_list.append(df_2015)
        df_2015 = df_2015[['LSOA code', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                            'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                            'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 
                            'Indoors Score', 'Outdoors Score']]

df_2015 = pd.DataFrame()
df_2015 = pd.concat(df_2015_list)
df_2015 = df_2015[['LSOA code', 'Month', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                    'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                    'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 'Indoors Score', 
                    'Outdoors Score']]

Loop 1:   0%|          | 0/4 [00:00<?, ?it/s]C:\Users\dines\AppData\Local\Temp\ipykernel_45708\680792549.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['Month'] = year + '-' + month
Loop 1: 100%|██████████| 4/4 [00:00<00:00, 31.31it/s]

In [16]:
#Extend all data from 2019-2022
df_2019_list = []

for year in tqdm(year_list_2019, desc='Loop 1', colour='Green'):
    for month in month_list:
        df_2019['Month'] = year + '-' + month
        df_2019_list.append(df_2019)
        df_2019 = df_2019[['LSOA code', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                            'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                            'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 
                            'Indoors Score', 'Outdoors Score']]

for year in tqdm(year_list_2022, desc='Loop 2', colour='Green'):
    for month in month_list_2022:
        df_2019['Month'] = year + '-' + month
        df_2019_list.append(df_2019)
        df_2019 = df_2019[['LSOA code', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                            'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                            'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 
                            'Indoors Score', 'Outdoors Score']]

df_2019 = pd.DataFrame()
df_2019 = pd.concat(df_2019_list)
df_2019 = df_2019[['LSOA code', 'Month', 'IMD Score', 'Income Score', 'IDACI Score', 'IDAOPI Score', 
                    'Employment Score', 'EST Score', 'CYP Score', 'AS Score', 'HDD Score', 
                    'Crime Score', 'BHS Score', 'GB Score', 'WB Score', 'LE Score', 'Indoors Score', 
                    'Outdoors Score']]

Loop 1: 100%|██████████| 3/3 [00:00<00:00, 25.42it/s]
Loop 2: 100%|██████████| 1/1 [00:00<00:00, 47.50it/s]

In [18]:
#Merge all deprivation scores from 2011 - 2022
df_deprivation = pd.concat([df_2010, df_2015, df_2019])

,LSOA code,Month,IMD Score,Income Score,IDACI Score,IDAOPI Score,Employment Score,EST Score,CYP Score,AS Score,HDD Score,Crime Score,BHS Score,GB Score,WB Score,LE Score,Indoors Score,Outdoors Score
count,4613628,4613628,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06,4.613628e+06
unique,33654,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,E01000001,2016-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,141,32844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.166940e+01,1.405091e-01,1.825590e-01,1.857725e-01,1.067004e-01,2.169110e+01,7.330319e+00,7.533423e+00,-2.149718e-06,-1.055937e-05,2.169109e+01,7.330320e+00,7.329766e+00,2.169109e+01,7.330320e+00,7.330319e+00
std,NaN,NaN,1.548284e+01,1.031949e-01,1.412537e-01,1.304292e-01,7.069243e-02,1.865039e+01,1.547986e+01,1.537062e+01,8.710079e-01,8.041846e-01,1.079326e+01,1.547968e+01,1.559444e+01,1.595465e+01,1.548166e+01,1.548123e+01
min,NaN,NaN,4.770000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-03,-2.861000e+00,0.000000e+00,-3.329000e+00,-3.459000e+00,3.400000e-01,-2.925000e+00,-9.060000e+00,6.000000e-02,-3.429000e+00,-3.839000e+00
25%,NaN,NaN,9.768000e+00,6.000000e-02,7.000000e-02,8.800000e-02,5.400000e-02,7.373000e+00,-2.640000e-01,2.600000e-01,-6.050000e-01,-5.640000e-01,1.351800e+01,-2.700000e-01,-9.300000e-01,9.050000e+00,-2.640000e-01,-2.930000e-01
50%,NaN,NaN,1.742300e+01,1.100000e-01,1.400000e-01,1.500000e-01,8.600000e-02,1.618000e+01,5.310000e-01,3.790000e-01,-2.100000e-02,1.000000e-02,2.024100e+01,4.680000e-01,1.379000e+00,1.762000e+01,5.670000e-01,5.180000e-01
75%,NaN,NaN,2.994300e+01,1.950000e-01,2.630000e-01,2.540000e-01,1.400000e-01,3.084700e+01,6.830000e+00,6.830000e+00,5.900000e-01,5.670000e-01,2.842000e+01,6.830000e+00,6.880000e+00,3.103600e+01,6.830000e+00,6.830000e+00
max,NaN,NaN,9.273500e+01,7.700000e-01,9.900000e-01,9.880000e-01,7.500000e-01,9.950200e+01,1.000000e+02,1.000000e+02,3.790000e+00,3.810000e+00,7.258600e+01,1.000000e+02,1.000000e+02,9.335200e+01,1.000000e+02,1.000000e+02

In [19]:
#Checking null value presence in the Dataframe
null_counts = df_deprivation.isnull().sum()   #check counts of null values
null_counts

LSOA code           0
Month               0
IMD Score           0
Income Score        0
IDACI Score         0
IDAOPI Score        0
Employment Score    0
EST Score           0
CYP Score           0
AS Score            0
HDD Score           0
Crime Score         0
BHS Score           0
GB Score            0
WB Score            0
LE Score            0
Indoors Score       0
Outdoors Score      0
dtype: int64

In [20]:
#Export merged DataFrame to a .csv file
df_deprivation.to_csv('2011-2022_deprivation.csv', index=False)