In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2011-2022_mergedcrimerate.csv')
df_xg = pd.read_csv('xgboost_prediction.csv')
df_rf = pd.read_csv('rf_prediction.csv')

In [3]:
df = pd.concat([df, df_xg, df_rf], axis=1)

In [5]:
df.to_csv('2011-2022_mergedcrimerate.csv', index=False)

In [6]:
df.head()

,Month,LSOA code,Count,Population,Pop_density,IMD Score,Income Score,IDACI Score,IDAOPI Score,Employment Score,...,GB Score,WB Score,LE Score,Indoors Score,Outdoors Score,Inflation_rate,unemployment_rate,Crime Rate,xgboost_pred,rf_pred
0,2011-01,E01007599,1,1760.0,15.6031,11.20,0.07,0.07,0.13,0.06,...,55.81,5.61,6.45,6.13,7.09,3.4,7.8,0.9,3.494919,3.847052
1,2011-01,E01007609,2,2302.0,17.9576,18.22,0.13,0.13,0.22,0.10,...,21.48,10.04,9.33,9.86,8.27,3.4,7.8,1.3,9.076343,4.569038
2,2011-01,E01013810,6,1657.0,0.1345,39.59,0.29,0.42,0.44,0.13,...,1.25,33.59,34.51,26.90,49.74,3.4,7.8,5.4,8.194888,8.825085
3,2011-01,E01013811,26,1446.0,0.1280,45.17,0.27,0.41,0.58,0.16,...,0.22,35.31,36.36,33.08,42.91,3.4,7.8,27.0,24.142443,23.313455
4,2011-01,E01013812,19,1617.0,0.1209,47.45,0.36,0.55,0.45,0.16,...,0.17,35.94,31.94,18.63,58.57,3.4,7.8,17.6,13.653915,14.450986