In [1]:
#Import required library
import pandas as pd

In [2]:
#Load downloaded dataset into a Pandas DataFrame
df_unemployment = pd.read_excel('unemployment_rate.xls')

In [3]:
#Create 2 dictionary and list for month and year respectively for iteration purposes
month_dict = {'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 'JUL':'07',
                'AUG':'08', 'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'}
year_list = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019','2020', '2021', '2022']

In [4]:
#Remove unwanted rows, and rename column names
df_unemployment = df_unemployment[7:]
df_unemployment.reset_index(inplace=True, drop=True)
df_unemployment.columns = ['Month', 'unemployment_rate']
df_unemployment.head()

  Month unemployment_rate
0  1971               4.1
1  1972               4.3
2  1973               3.7
3  1974               3.7
4  1975               4.5

In [5]:
#Loop through Dataframe and save months and corresponding 
#unemployment rates in Python lists. 

month_list = []
unemployment_list = []

for i in df_unemployment.values:
    i = list(i)
    a = i[0]
    year = a[0:4]
    month = a[5:]
    if (year in year_list) and (month in month_dict):
        month_list.append(year + '-' + month_dict[month])
        unemployment_list.append(i[1])

In [6]:
#Use the month and unemployment rates Python lists from previous step 
#to create a new Pandas DataFrame
df_unemployment = pd.DataFrame()
df_unemployment['Month'] = month_list
df_unemployment['unemployment_rate'] = unemployment_list

In [8]:
#Export DataFrame to a .csv file
df_unemployment.to_csv('2011-2022_unemployment.csv', index=False)