In [68]:
#Import Required Libraries
import pandas as pd

In [69]:
#Load downloaded dataset into a Pandas DataFrame
df_inflation = pd.read_excel('Inflation_data.xls')

In [70]:
#Create 2 dictionary and list for month and year respectively for iteration purposes
month_dict = {'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 'JUL':'07',
                'AUG':'08', 'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'}
year_list = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019','2020', '2021', '2022']

In [71]:
#Remove unwanted rows, and rename column names
df_inflation = df_inflation[7:]
df_inflation.reset_index(inplace=True, drop=True)
df_inflation.columns = ['Month', 'Inflation_rate']
df_inflation.head()

  Month Inflation_rate
0  1989            5.7
1  1990              8
2  1991            7.5
3  1992            4.6
4  1993            2.6

In [72]:
#Loop through Dataframe and save months and corresponding 
#inflation rates in Python lists. 
month_list = []
inflation_list = []

for i in df_inflation.values:
    i = list(i)
    a = i[0]
    year = a[0:4]
    month = a[5:]
    if (year in year_list) and (month in month_dict):
        month_list.append(year + '-' + month_dict[month])
        inflation_list.append(i[1])

In [73]:
#Use the month and inflation rates Python lists from previous step 
#to create a new Pandas DataFrame
df_inflation = pd.DataFrame()
df_inflation['Month'] = month_list
df_inflation['Inflation_rate'] = inflation_list

In [75]:
#Export DataFrame to a .csv file
df_inflation.to_csv('2011-2022_inflationrate.csv', index=False)